<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>

<div class="topbar">
    <div class="topbar-inner">
        <div class="brand">
            <div class="logo"></div>
            <div>
                Art Equipment Rental EHB
                <small>Reservatieplatform </small>
            </div>
        </div>

        <div class="nav">
            <a href="/products">Catalogus</a>
            <a href="/cart">Winkelmand</a>
            <a href="/orders">Bestellingen</a>
            <a th:href="@{/orders}">Mijn reservaties</a>
            <a th:href="@{/profile}">Profiel</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>


<body>

<h2>Checkout</h2>

<div th:if="${#lists.isEmpty(items)}">
    <p>Je winkelmand is leeg.</p>
    <a href="/products">Ga terug naar producten</a>
</div>

<div th:if="${!#lists.isEmpty(items)}">

    <h3>Overzicht</h3>

    <div th:each="item : ${items}">
        <p>
            <strong th:text="${item.product.name}"></strong><br>
            Aantal: <span th:text="${item.quantity}"></span>
        </p>
        <hr>
    </div>

    <form method="post" action="/checkout/confirm">
        <button type="submit">Bevestig bestelling</button>
    </form>

</div>

<a href="/cart">Terug naar winkelmand</a>
<link rel="stylesheet" href="/static/style.css">

</body>
</html>
