<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inloggen | Art Equipment Rental</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="auth-page">

<header class="topbar">
    <div class="topbar-inner">
        <div class="brand">
            <div class="logo"></div>
            <div>
                Art Equipment Rental
                <small>Reservatieplatform – Proof of Concept</small>
            </div>
        </div>
    </div>
</header>

<main class="auth-container">
    <div class="auth-card">
        <h2>Inloggen</h2>
        <p class="subtitle">Gebruik je schoolaccount om materiaal te reserveren</p>

        <form th:action="@{/login}" method="post" class="form-grid">

            <div>
                <label>Email</label>
                <input type="email" name="email" placeholder="voornaam.achternaam@ehb.be" required>
            </div>

            <div>
                <label>Wachtwoord</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>

        <p class="auth-footer">
            Nog geen account?
            <a th:href="@{/register}" style="font-weight:800;">Registreer hier</a>
        </p>
    </div>
</main>

</body>
</html>
