<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<form th:action="@{/login}" method="post">

    <label>Email:</label>
    <input type="text" name="username" required />
    <br/><br/>

    <label>Wachtwoord:</label>
    <input type="password" name="password" required />
    <br/><br/>

    <button type="submit">Login</button>
</form>

<p th:if="${param.error}" style="color:red;">
    Foute login of wachtwoord
</p>

<p>
    Nog geen account?
    <a th:href="@{/register}">Registreer</a>
</p>

</body>
</html>
