<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Inloggen | Art Equipment Rental</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body class="auth-page">

<header class="topbar">
    <h1>Art Equipment Rental Platform</h1>
    <p>Materiaal reserveren voor studenten van de kunstopleiding</p>
</header>

<main class="auth-container">
    <div class="auth-card">
        <h2>Inloggen</h2>
        <p class="subtitle">Gebruik je schoolaccount om materiaal te reserveren</p>

        <form th:action="@{/login}" method="post">

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>

        </form>


        <p class="auth-footer">
            Nog geen account?
            <a href="/register">Registreer hier</a>
        </p>
    </div>
</main>

</body>
</html>
